* {
    box-sizing: border-box;
 
    font-family: "Montserrat", sans-serif;
    
  }
  
  body {
    /* padding: 100px; */
    
    background-color: #121212;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  #pidform {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #pidform #cardPlaylistID {
    padding: 7px 12px;
    border: 1px black solid;
    border-radius: 4px;
    font-size: 15px;
  }

  #getCardBtn {
    padding: 7px 12px;
    border: 1px black solid;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    transition: ease-in-out all 240ms;
    cursor: pointer;
  } 
  #getCardBtn:active, 
    #getCardBtn:hover {
      color: rgb(255, 255, 255);
      background-color: #808080;
      border-radius: 5px;
  }

  .subformelem {
    z-index: 9999;
    /* display: inline-block; */
    width: 344.3px;
    height: 300px;
    border-radius: 8.9px;
    padding: 22px;
    overflow: hidden;
    background-color: #181818;
    transition: background-color 0.4s;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subformelem:active, 
    .subformelem:hover {
    background-color: #282828;
  }

  #cardPlaylistID,
  #cardPlaylistID > option {
    outline: none;
    border: none;
    background-color: #282828;
    color: rgb(255, 255, 255);
    padding: 4px 7px;
  }